<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue App</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUa1z6paksn4aD+rmQWqL4d5OgFVXRpOCtxCW3YpF4Ql4He/t9gFgog1p6L3"
      crossorigin="anonymous"
    />
    <style>
      body {
        background-color: #f8f9fa;
        padding: 20px;
      }
      .container {
        max-width: 600px;
        margin: auto;
        background: white;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
      }
      h3 {
        text-align: center;
        color: #007bff;
      }
      .form-label {
        margin-top: 15px;
        font-weight: bold;
      }
      .btn-custom {
        background-color: #007bff;
        color: white;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <h3>{{ message }}</h3>

        <div class="mb-3">
          <button class="btn btn-primary w-100" @click="count++">
            Count is: {{ count }}
          </button>
        </div>

        <form>
          <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input
              type="text"
              class="form-control"
              v-model="name"
              placeholder="Escribe aquí"
            />
          </div>

          <div class="mb-3">
            <label>Hola que tal: <span class="fw-bold">{{ name }}</span></label>
          </div>
        </form>

        <form>
          <div class="mb-3">
            <label class="form-label">Primer atributo: </label>
            <input
              type="text"
              class="form-control"
              v-model="attribute1"
              placeholder="Ingresa un atributo"
            />
          </div>

          <div class="mb-3">
            <label class="form-label">Segundo atributo: </label>
            <input
              type="text"
              class="form-control"
              v-model="attribute2"
              placeholder="Ingresa otro atributo"
            />
          </div>

          <div class="mb-3">
            <button type="button" class="btn btn-custom w-100" @click="enlist">
              Enlistar
            </button>
          </div>

          <div>
            <ol>
              <li v-for="(item) in list" :key="index">
                {{ index  }} {{ item.attribute1 }}  {{ item.attribute2 }}
              </li>
            </ol>
          </div>
        </form>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <script>
      const { createApp, ref } = Vue;
      
      createApp({
        setup() {
          const message = ref("Mi primera app con Vue!");
          const list = ref([]);
          const attribute1 = ref("");
          const attribute2 = ref("");
          const count = ref(0);
          const name = ref("");
          
          const enlist = () => {
            
            list.value.push({
              attribute1: attribute1.value,
              attribute2: attribute2.value,
            });

            
            attribute1.value = "";
            attribute2.value = "";
          };

          return {
            message,
            count,
            name,
            attribute1,
            attribute2,
            list,
            enlist
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
